[submodule "ldapsyncservice"]
	path = ldapsyncservice
	url = git@github.com:UniNuvola/ldapsyncservice.git
[submodule "ldapproxy"]
	path = ldapproxy
	url = git@github.com:UniNuvola/ldapproxy.git
[submodule "web"]
	path = web
	url = git@github.com:UniNuvola/web.git
[submodule "unihubsingle"]
	path = unihubsingle
	url = git@github.com:UniNuvola/unihubsingle
